<div class="card-container">
    <div class="card">
      <div class="card-front">
        <img src="cropmanagement_system/Frontend/croptop/src/assets/images/lol.png" alt="Beautiful Plant">
      </div>
      <div class="card-back">
        <h2>Plant</h2>
        <p>This plant is known for its vibrant green leaves and low maintenance. Perfect for indoor decoration!</p>
        <!-- <button fill="clear" [routerLink]="['/cropForm', crop.id]">
            Edit
        </button> -->
      </div>
    </div>
</div>